<GridLayout class="w-full bg-[#c1e7fd]">
  <!--<LottieView height="275" width="275" autoPlay="false" src="~/assets/animations/sweet-logo-loader.json" class="h-center v-center" (loaded)="loadedLottie($event)"></LottieView> -->
  <LottieView height="300" width="300" autoPlay="false" src="~/assets/fish-jump.json" class="h-center v-center" (loaded)="loadedLottie($event)"></LottieView>
  <ContentView class="bg-[#7dadff] rounded-full" width="300" height="300" (loaded)="loadedColor($event)"></ContentView>
</GridLayout>
