<GridLayout rows="auto,*" android:paddingTop="15">
  <GridLayout rows="auto" columns="auto,*,auto" (tap)="back()">
    <ImageCacheIt
      col="0"
      class="w-6 h-6 opacity-60 align-middle"
      src="~/assets/icons/back-arrow.png"
    >
    </ImageCacheIt>
    <Label
      col="1"
      text="Settings"
      class="text-gray-600 text-left align-middle ml-1"
      [ngClass]="{
        'mt-1': isAndroid
      }"
      (tap)="back()"
      (loaded)="loadedTitle($event)"
    ></Label>
  </GridLayout>
  <StackLayout row="1" class="p-6 m-6 rounded-xl bg-gray-100/50">
    <Label
      [text]="name + ' detail within tab outlet.'"
      class="text-center text-black"
      textWrap="true"
    ></Label>
  </StackLayout>
</GridLayout>
