<GridLayout rows="*, auto" class="bg-transparent" (loaded)="loadedHome($event)">
  <TabView
    rowSpan="2"
    (selectedIndexChange)="selectedIndexChange($event)"
    (loaded)="loadedTabs($event)"
    swipeEnabled="false"
    class="app-background"
    androidTabsPosition="bottom"
    tabTextFontSize="11"
    iosTabBarMinimizeBehavior="onScrollDown"
  >
    <GridLayout
      *tabItem="{
        title: 'Home',
        textTransform: 'capitalize',
        iconSource: isIOS ? 'sys://house.fill' : 'font://A',
      }"
    >
      <page-router-outlet
        actionBarVisibility="never"
        name="listTab"
      ></page-router-outlet>
    </GridLayout>

    <GridLayout
      *tabItem="{
        title: 'Favorites',
        textTransform: 'capitalize',
        iconSource: isIOS ? 'sys://star.fill' : 'font://B',
      }"
    >
      <page-router-outlet
        actionBarVisibility="never"
        name="favoritesTab"
      ></page-router-outlet>
    </GridLayout>

    <GridLayout
      *tabItem="{
        title: 'Settings',
        textTransform: 'capitalize',
        iconSource: isIOS ? 'sys://gear' : 'font://C',
      }"
    >
      <page-router-outlet
        actionBarVisibility="never"
        name="settingsTab"
      ></page-router-outlet>
    </GridLayout>
  </TabView>
</GridLayout>
