<GridLayout rows="*, auto" class="bg-transparent" (loaded)="loadedHome($event)">
  <MDBottomNavigation
    rowSpan="2"
    (selectedIndexChange)="selectedIndexChange($event)"
    (loaded)="loadedTabs($event)"
    swipeEnabled="false"
    class="app-background"
  >
    <MDTabStrip>
      <MDTabStripItem class="debug:bg-[#000316]"></MDTabStripItem>
      <MDTabStripItem class="debug:bg-[#000316]"></MDTabStripItem>
      <MDTabStripItem class="debug:bg-[#000316]"></MDTabStripItem>
    </MDTabStrip>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet
          actionBarVisibility="never"
          name="listTab"
        ></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet
          actionBarVisibility="never"
          name="favoritesTab"
        ></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet
          actionBarVisibility="never"
          name="settingsTab"
        ></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
  </MDBottomNavigation>

  <!-- You can use this on both iOS and Android or on just one, whichever you prefer -->
  <android>
    <ContentView
      row="0"
      class="align-bottom bg-semi-gradient"
      height="15"
      opacity=".2"
    ></ContentView>
  </android>

  <GridLayout
    row="1"
    columns="*, *, *"
    ios:rows="49"
    android:rows="56"
    class="bg-[#c1e7fd]"
    [ngClass]="{
      'border-t border-gray-300': isIOS
    }"
  >
    <ns-tab-icon
      text="Home"
      [active]="appStateService?.tabView?.selectedIndex === 0"
      image="~/assets/icons/home.png"
      activeImage="~/assets/icons/home-selected.png"
      sfSymbol="house.fill"
      (select)="changeTab(0)"
      (loaded)="loadedSelectedLogo($event)"
    ></ns-tab-icon>
    <ns-tab-icon
      text="Favorites"
      [col]="1"
      [active]="appStateService?.tabView?.selectedIndex === 1"
      image="~/assets/icons/fav.png"
      activeImage="~/assets/icons/fav-selected.png"
      sfSymbol="star"
      (select)="changeTab(1)"
    ></ns-tab-icon>
    <ns-tab-icon
      text="Settings"
      [col]="2"
      [active]="appStateService?.tabView?.selectedIndex === 2"
      image="~/assets/icons/settings.png"
      activeImage="~/assets/icons/settings-selected.png"
      sfSymbol="gearshape"
      (select)="changeTab(2)"
    ></ns-tab-icon>
  </GridLayout>
</GridLayout>
