/* Resets */
* {
  @apply font-normal;
  horizontal-alignment: 'left';
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

Label {
  @apply align-middle;
}

/**
*   1. set a default size for the ActivityIndicator to be similar on ios/android
*/
ActivityIndicator {
  @apply h-6 w-6; /* 1 */
}

Button {
  @apply rounded-none border-0 bg-transparent normal-case;
  min-width: 0;
  min-height: 0;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

TextField,
TextView,
NumericKeyboard {
  @apply bg-transparent text-base;
  placeholder-color: theme('colors.gray.400');
}
TextField[isEnabled='false'],
TextView[isEnabled='false'],
NumericKeyboard[isEnabled='false'] {
  @apply bg-transparent text-base;
  placeholder-color: theme('colors.gray.400');
  opacity: 0.5;
}
/* END Resets */

@tailwind base;
@tailwind components;
@tailwind utilities;

Page, page-router-outlet {
  background: transparent;
}

@layer base {
  Button,
  Label,
  TextField,
  TextView {
    @apply font-poppins;
    vertical-align: middle;
  }
}

.app-background {
  background-color: #c1e7fd;
}

.fa {
  font-family: 'FontAwesome', 'fontawesome-webfont';
  font-weight: 400;
}

/* {N} property */
.h-center {
  horizontal-align: center;
}
.h-left {
  horizontal-align: left;
}
.h-right {
  horizontal-align: right;
}

.bg-semi-gradient {
  background: linear-gradient(to top, #595959, rgba(0,0,0,0));
}
.bg-tile {
  background: linear-gradient(135deg, #161828, #2f2444);
}

.icon-label{
    font-size: 22;
    font-family: "ns-playground-font";
    text-align: center;
    vertical-align: middle;
    color: white;
}