<GridLayout rows="auto,*" android:paddingTop="15">
  <GridLayout rows="auto" columns="auto,*,auto" (tap)="back()">
    <ImageCacheIt
      col="0"
      class="w-6 h-6 opacity-60 ml-1 align-middle"
      src="~/assets/icons/back-arrow.png"
    >
    </ImageCacheIt>
    <Label
      col="1"
      [text]="title"
      class="text-gray-600 text-left align-middle ml-1"
      (loaded)="loadedTitle($event)"
    ></Label>
  </GridLayout>
  <StackLayout row="1" class="p-6 m-6 rounded-xl bg-gray-100/50">
    <Label
      [text]="'Detail view outside tabs for: ' + item?.name + '.'"
      class="text-black text-center"
      textWrap="true"
    ></Label>
  </StackLayout>
</GridLayout>
